# m  h dom mon dow   command
*/15 * *   *   *     /sbin/logsave -a $HOME/repo_sync.log $HOME/sync_cm/sync_cm >/dev/null 2>&1
*    0 *   *   6     /usr/sbin/logrotate $HOME/sync_cm/logrotate.conf -s $HOME/sync_cm/logrotate.state
